{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Imported Drugs</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
<!--            <div class="container">-->
<!--               {{ table|safe }}-->
<!--           </div>-->
          <table id="example2" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>HSCODE</th> <th>HSCOD10</th> <th>HSDESC</th> <th>HSDESC2</th>
              <th>MARKS1</th>
               <th>MARKS2</th>
              <th>CHASIS_NO</th> <th>DEC_TYP</th> <th>CPC1</th> <th>CPC_EXT</th> <th>CPC</th> <th>STAT_CD</th>
              <th>CO_CODE</th> <th>TIN</th> <th>REF_NO</th> <th>PRDOC</th> <th>WHS</th> <th>TSHED</th> <th>BANK</th>
              <th>FRONT_OFF</th> <th>MANIF</th> <th>PREP_CD</th> <th>MM_ASS</th> <th>YY_REG</th> <th>MM_REG</th>
              <th>DD_REG</th> <th>CURR</th> <th>CONTRA</th> <th>INFO7</th> <th>SERIES</th> <th>CRC</th> <th>PKG_CD</th>
              <th>MOT</th> <th>NAT_MOT</th> <th>FUNDING</th> <th>AWB</th> <th>CTY_C</th> <th>CTY_O</th> <th>CTY_D</th>
              <th>AGR_CD</th> <th>SUP_CD</th> <th>ITEM_NO</th> <th>ASS_NO</th> <th>ASS_DATE</th> <th>INFORMAT</th>
              <th>REGNO</th> <th>RCV_NO</th> <th>NO_PKGS</th> <th>NT_WT</th> <th>GR_WT</th> <th>SUPP_QTY</th>
              <th>QTY</th> <th>USHSVAL</th> <th>VAL_USD</th> <th>LOSS_REV</th> <th>TOT_TAX</th> <th>DUTYP</th>
              <th>DUTY</th> <th>EXCISE</th> <th>VAT</th> <th>WTAX</th> <th>COMM</th> <th>ENVTAX</th> <th>EXPTAX</th>
              <th>DVAT</th> <th>FORM_FEE</th> <th>REG_FEE</th> <th>CO_NAME</th><th>RCPT</th>
              <th>RCPT_DATE</th> <th>UNITVAL</th> <th>DRATE</th> <th>VRATE</th> <th>AGENT</th> <th>RGN</th>


            </tr>
            </thead>
            <tbody>
            {%for i in range(0, len)%}
            <tr>
              <td>{{meds[0]}}</td>
              <td>{{meds[1]}}</td>
              <td>{{meds[2]}}</td>
              <td>{{meds[3]}}</td>
              <td>{{meds[4]}}</td>
              <td>{{meds[5]}}</td>
              <td>{{meds[6]}}</td>
              <td>{{meds[7]}}</td>
              <td>{{meds[8]}}</td>
              <td>{{meds[9]}}</td>
              <td>{{meds[10]}}</td>
              <td>{{meds[11]}}</td>
              <td>{{meds[12]}}</td>
              <td>{{meds[13]}}</td>
              <td>{{meds[14]}}</td>
              <td>{{meds[15]}}</td>
              <td>{{meds[16]}}</td>
              <td>{{meds[17]}}</td>
              <td>{{meds[18]}}</td>
              <td>{{meds[19]}}</td>
              <td>{{meds[20]}}</td>
              <td>{{meds[21]}}</td>

                {%endfor%}
            </tr>


            <tr>
              <td>Gecko</td>
              <td>Authorised</td>
              <td>12%</td>
              <td>1.8</td>
              <td>A</td>
            <tr>
              <td>Misc</td>
              <td>Lynx</td>
              <td>Text only</td>
              <td>-</td>
              <td>X</td>
            </tr>
            <tr>
              <td>Misc</td>
              <td>IE Mobile</td>
              <td>Windows Mobile 6</td>
              <td>-</td>
              <td>C</td>
            </tr>

            <tr>
              <td>Other browsers</td>
              <td>All others</td>
              <td>-</td>
              <td>-</td>
              <td>U</td>
            </tr>
            </tbody>
            <tfoot>
              <tr>
                <th>Name of Drug</th>
                <th>Authorisation</th>
                <th>Taxation</th>
                <th>Quanity</th>
                <th> grade</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  
{% endblock content %}