{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Single Detailed data field</h3>
        </div>

<!--        <form class="form-inline ml-3">-->
<!--      <div class="input-group input-group-sm">-->
<!--        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">-->
<!--        <div class="input-group-append">-->
<!--          <button class="btn btn-navbar" type="submit">-->
<!--            <i class="fas fa-search"></i>-->
<!--          </button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </form>-->
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>HSCODE</th>
                        <th>HSCOD10</th>
                        <th>HSDESC</th>
                        <th>HSDESC2</th>
                        <th>MARKS1</th>
                        <th>MARKS2</th>
                        <th>CHASIS_NO</th>
                        <th>DEC_TYP</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>{{ meds_per_year.hscode }}</td>
                        <td>{{ meds_per_year.hscod10 }}</td>
                        <td>{{ meds_per_year.hsdesc }}</td>
                        <td>{{ meds_per_year.hsdesc2 }}</td>
                        <td>{{ meds_per_year.marks1 }}</td>
                        <td>{{ meds_per_year.marks2 }}</td>
                        <td>{{ meds_per_year.chasis_no }}</td>
                        <td>{{ meds_per_year.dec_typ }}</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered table-striped mt-5">
                <thead>
                <tr>
                    <th>CPC1</th>
                    <th>CPC_EXT</th>
                    <th>CPC</th>
                    <th>STAT_CD</th>
                    <th>CO_CODE</th>
                    <th>TIN</th>
                    <th>REF_NO</th>
                    <th>PRDOC</th>
                </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>{{ meds_per_year.cpc1 }}</td>
                        <td>{{ meds_per_year.cpc_ext }}</td>
                        <td>{{ meds_per_year.cpc}}</td>
                        <td>{{ meds_per_year.stat_cd }}</td>
                        <td>{{ meds_per_year.co_code }}</td>
                        <td>{{ meds_per_year.tin }}</td>
                        <td>{{ meds_per_year.ref_no }}</td>
                        <td>{{ meds_per_year.prdoc }}</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered table-striped mt-5">
                <thead>
                <tr>
                    <th>WHS</th>
                    <th>TSHED</th>
                    <th>BANK</th>
                    <th>FRONT_OFF</th>
                    <th>MANIF</th>
                    <th>PREP_CD</th>
                    <th>MM_ASS</th>
                    <th>YY_REG</th>
                    <th>MM_REG</th>
                </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>{{ meds_per_year.whs }}</td>
                        <td>{{ meds_per_year.tshed }}</td>
                        <td>{{ meds_per_year.bank}}</td>
                        <td>{{ meds_per_year.front_off }}</td>
                        <td>{{ meds_per_year.manif }}</td>
                        <td>{{ meds_per_year.prep_cd }}</td>
                        <td>{{ meds_per_year.mm_ass }}</td>
                        <td>{{ meds_per_year.yy_reg }}</td>
                        <td>{{ meds_per_year.mm_reg }}</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered table-striped mt-5">
                <thead>
                    <tr>
                        <th>DD_REG</th>
                        <th>CURR</th>
                        <th>CONTRA</th>
                        <th>INFO7</th>
                        <th>SERIES</th>
                        <th>CRC</th>
                        <th>PKG_CD</th>
                        <th>MOT</th>
                    </tr>
                </thead>

                  <tbody>
                    <tr>
                        <td>{{ meds_per_year.dd_reg }}</td>
                        <td>{{ meds_per_year.curr }}</td>
                        <td>{{ meds_per_year.contra}}</td>
                        <td>{{ meds_per_year.info7 }}</td>
                        <td>{{ meds_per_year.series }}</td>
                        <td>{{ meds_per_year.crc }}</td>
                        <td>{{ meds_per_year.pkg_cd }}</td>
                        <td>{{ meds_per_year.mot }}</td>
<!--                        <td>{{ meds_per_year.mm_reg }}</td>-->
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered table-striped mt-5">
                <thead>
                <tr>
                    <th>NAT_MOT</th>
                    <th>FUNDING</th>
                    <th>AWB</th>
                    <th>CTY_C</th>
                    <th>CTY_O</th>
                    <th>CTY_D</th>
                    <th>AGR_CD</th>
                    <th>SUP_CD</th>
                </tr>
                </thead>

                  <tbody>
                    <tr>
                        <td>{{ meds_per_year.nat_mot }}</td>
                        <td>{{ meds_per_year.funding }}</td>
                        <td>{{ meds_per_year.awb}}</td>
                        <td>{{ meds_per_year.cty_c }}</td>
                        <td>{{ meds_per_year.cty_o }}</td>
                        <td>{{ meds_per_year.cty_d }}</td>
                        <td>{{ meds_per_year.agr_cd }}</td>
                        <td>{{ meds_per_year.sup_cd }}</td>
<!--                        <td>{{ meds_per_year.mm_reg }}</td>-->
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered table-striped mt-5">
                <thead>
                    <tr>
                        <th>ITEM_NO</th>
                        <th>ASS_NO</th>
                        <th>ASS_DATE</th>
                        <th>INFORMAT</th>
                        <th>REGNO</th>
                        <th>RCV_NO</th>
                        <th>NO_PKGS</th>
                        <th>NT_WT</th>
                    </tr>
                </thead>

                  <tbody>
                    <tr>
                        <td>{{ meds_per_year.item_no }}</td>
                        <td>{{ meds_per_year.ass_no }}</td>
                        <td>{{ meds_per_year.ass_date}}</td>
                        <td>{{ meds_per_year.informat }}</td>
                        <td>{{ meds_per_year.regno }}</td>
                        <td>{{ meds_per_year.rcv_no }}</td>
                        <td>{{ meds_per_year.no_pkgs }}</td>
                        <td>{{ meds_per_year.nt_wt }}</td>
<!--                        <td>{{ meds_per_year.mm_reg }}</td>-->
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered table-striped mt-5">
                <thead>
                    <tr>
                        <th>GR_WT</th>
                        <th>SUPP_QTY</th>
                        <th>QTY</th>
                        <th>USHSVAL</th>
                        <th>VAL_USD</th>
                        <th>LOSS_REV</th>
                        <th>TOT_TAX</th>
                        <th>DUTYP</th>
                    </tr>
                </thead>

                  <tbody>
                    <tr>
                        <td>{{ meds_per_year.gr_wt }}</td>
                        <td>{{ meds_per_year.supp_qty }}</td>
                        <td>{{ meds_per_year.qty}}</td>
                        <td>{{ meds_per_year.ushsval }}</td>
                        <td>{{ meds_per_year.val_usd }}</td>
                        <td>{{ meds_per_year.loss_rev }}</td>
                        <td>{{ meds_per_year.tot_tax }}</td>
                        <td>{{ meds_per_year.dutyp }}</td>
<!--                        <td>{{ meds_per_year.mm_reg }}</td>-->
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered table-striped mt-5">
                <thead>
                    <tr>
                        <th>DUTY</th>
                        <th>EXCISE</th>
                        <th>VAT</th>
                        <th>WTAX</th>
                        <th>COMM</th>
                        <th>ENVTAX</th>
                        <th>EXPTAX</th>
                        <th>DVAT</th>
                        <th>FORM_FEE</th>
                    </tr>
                </thead>

                  <tbody>
                    <tr>
                        <td>{{ meds_per_year.duty }}</td>
                        <td>{{ meds_per_year.excise }}</td>
                        <td>{{ meds_per_year.vat}}</td>
                        <td>{{ meds_per_year.wtax }}</td>
                        <td>{{ meds_per_year.comm }}</td>
                        <td>{{ meds_per_year.envtax }}</td>
                        <td>{{ meds_per_year.exptax }}</td>
                        <td>{{ meds_per_year.dvat }}</td>
                        <td>{{ meds_per_year.form_fee }}</td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered table-striped mt-5">
                <thead>
                    <tr>
                        <th>REG_FEE</th>
                        <th>CO_NAME</th>
                        <th>RCPT</th>
                        <th>RCPT_DATE</th>
                        <th>UNITVAL</th>
                        <th>DRATE</th>
                        <th>VRATE</th>
                        <th>AGENT</th>
                        <th>RGN</th>
                    </tr>
                </thead>

                  <tbody>
                    <tr>
                        <td>{{ meds_per_year.reg_fee }}</td>
                        <td>{{ meds_per_year.co_name }}</td>
                        <td>{{ meds_per_year.rcpt}}</td>
                        <td>{{ meds_per_year.rcpt_date }}</td>
                        <td>{{ meds_per_year.unival }}</td>
                        <td>{{ meds_per_year.drate }}</td>
                        <td>{{ meds_per_year.vrate }}</td>
                        <td>{{ meds_per_year.agent }}</td>
                        <td>{{ meds_per_year.rgn }}</td>
                    </tr>
                </tbody>
            </table>
<!--          <table id="example2" class="table table-bordered table-striped">-->
<!--            <thead>-->
<!--            <tr>-->
<!--              <th>HSCODE</th> <th>HSCOD10</th> <th>HSDESC</th> <th>HSDESC2</th>-->
<!--              <th>MARKS1</th>-->
<!--               <th>MARKS2</th>-->
<!--              <th>CHASIS_NO</th> <th>DEC_TYP</th>-->
<!--              <th>CPC1</th> <th>CPC_EXT</th> <th>CPC</th> <th>STAT_CD</th>-->
<!--              <th>CO_CODE</th> <th>TIN</th> <th>REF_NO</th> <th>PRDOC</th> <th>WHS</th> <th>TSHED</th> <th>BANK</th>-->
<!--              <th>FRONT_OFF</th> <th>MANIF</th> <th>PREP_CD</th> <th>MM_ASS</th> <th>YY_REG</th> <th>MM_REG</th>-->
<!--              <th>DD_REG</th> <th>CURR</th> <th>CONTRA</th> <th>INFO7</th> <th>SERIES</th> <th>CRC</th> <th>PKG_CD</th>-->
<!--              <th>MOT</th> <th>NAT_MOT</th> <th>FUNDING</th> <th>AWB</th> <th>CTY_C</th> <th>CTY_O</th> <th>CTY_D</th>-->
<!--              <th>AGR_CD</th> <th>SUP_CD</th> <th>ITEM_NO</th> <th>ASS_NO</th> <th>ASS_DATE</th> <th>INFORMAT</th>-->
<!--              <th>REGNO</th> <th>RCV_NO</th> <th>NO_PKGS</th> <th>NT_WT</th> <th>GR_WT</th> <th>SUPP_QTY</th>-->
<!--              <th>QTY</th> <th>USHSVAL</th> <th>VAL_USD</th> <th>LOSS_REV</th> <th>TOT_TAX</th> <th>DUTYP</th>-->
<!--              <th>DUTY</th> <th>EXCISE</th> <th>VAT</th> <th>WTAX</th> <th>COMM</th> <th>ENVTAX</th> <th>EXPTAX</th>-->
<!--              <th>DVAT</th> <th>FORM_FEE</th> <th>REG_FEE</th> <th>CO_NAME</th><th>RCPT</th>-->
<!--              <th>RCPT_DATE</th> <th>UNITVAL</th> <th>DRATE</th> <th>VRATE</th> <th>AGENT</th> <th>RGN</th>-->


<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--              {% for key in meds %}-->
<!--                <tr>-->
<!--                  {% for column in key %}-->
<!--                    <td>{{ key[column] }}</td>-->
<!--                  {% endfor %}-->
<!--                </tr>-->
<!--              {% endfor %}-->


<!--              <tr-->

<!--          </table>-->
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>

{% endblock content %}