.idea/
venv/
ven/
ambs/
ambs/__pycache__.*
#ambs/models/__pycache__/*
#ambs/errors/__pycache__/*
##ambs/errors/__pycache__/*
#ambs/importers/__pycache__/*
##ambs/importers/__pycache__/routes.cpython-38.pyc
##ambs/importers/__pycache__/__init__.cpython-38.pyc
##ambs/importers/__pycache__/routes.cpython-38.pyc
##ambs/dashboard/__pycache__/__init__.cpython-38.pyc
*.ambs/__init__.py
ambs/__pycache__/__init__.cpython-38.pyc*
ambs/__pycache__/config.cpython-38.pyc*
ambs/dashboard/__pycache__/__init__.cpython-38.pyc*
ambs/dashboard/__pycache__/routes.cpython-38.pyc*
ambs/dashboard/routes.py
ambs/dashboard_ura/routes.py
ambs/errors/__pycache__/__init__.cpython-38.pyc*
ambs/errors/__pycache__/handlers.cpython-38.pyc*
ambs/importers/__pycache__/__init__.cpython-38.pyc*
ambs/importers/__pycache__/routes.cpython-38.pyc*
ambs/models/models.py
ambs/templates/dashboard/index.html
ambs/templates/dashboard/ura_index.html



