{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
<!--            <div class="info-box">-->


            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                <h5 class="card-title">Monthly Recap Report</h5>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                    </button>
                    <div class="btn-group">
                    <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                        <i class="fas fa-wrench"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <a href="#" class="dropdown-item">Action</a>
                        <a href="#" class="dropdown-item">Another action</a>
                        <a href="#" class="dropdown-item">Something else here</a>
                        <a class="dropdown-divider"></a>
                        <a href="#" class="dropdown-item">Separated link</a>
                    </div>
                    </div>
                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                    </button>
                </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                    <p class="text-center">
                        <strong>Drug shops in various districts</strong>
                    </p>

                         <canvas id="bar-chart" width="800" height="400"></canvas>


<!--                        <div id="chartContainer" style="height: 370px; width: 100%;"></div>-->
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
                        <script>

                            let data = {{nda_chart_data|tojson}}
                            let count = []
                            let district = []

                            for(let i = 0; i < data.length; i ++){
                                count.push(data[i]['count'])
                                district.push(data[i]['district'])
                            }
                            new Chart(document.getElementById("bar-chart"), {
                                type: 'bar',
                                data: {
                                  labels: district,
                                  datasets: [
                                    {
                                      label: "Districts ",
                                      backgroundColor: [],
                                      data: count
                                    }
                                  ]
                                },
                                options: {
                                  legend: { display: false },
                                  title: {
                                    display: true,
                                    text: 'Number of drugshops in respective districts'
                                  }
                                }
                            });


<!--                            bar-chart.destroy();-->
<!--                        </script>-->
                                </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>


                <div class="row">
          <!-- Left col -->
          <div class="col-md-8">
            <!-- MAP & BOX PANE -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Pie chart of districts and drug shops</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="d-md-flex">

                     <canvas id="pie-chart" width="800" height="450"></canvas>


                        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
                        <script>



                            new Chart(document.getElementById("pie-chart"), {
                                type: 'pie',
                                data: {
                                  labels: district,
                                  datasets: [
                                    {
                                      label: "Districts ",
                                      backgroundColor: [],
                                      data: count
                                    }
                                  ]
                                },
                                options: {
                                  legend: { display: false },
                                  title: {
                                    display: true,
                                    text: 'Number of drugshops in respective districts'
                                  }
                                }
                            });



                        </script>
<!--                  <div class="p-1 flex-fill" style="overflow: hidden">-->

<!--                    </div>-->
                    <!-- /.description-block -->
                  </div><!-- /.card-pane-right -->
                </div><!-- /.d-md-flex -->
              </div>
              <!-- /.card-body -->
            </div>








                     <div class="row">
          <!-- Left col -->
          <div class="col-md-8">
            <!-- MAP & BOX PANE -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Line chart of districts and drug shops</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body p-0">
                <div class="d-md-flex">

                     <canvas id="line-chart" width="800" height="450"></canvas>


                        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
                        <script>


<!--                            for(let i = 0; i < data.length; i ++){-->
<!--                                count.push(data[i]['count'])-->
<!--                                district.push(data[i]['district'])-->
<!--                            }-->
                            new Chart(document.getElementById("line-chart"), {
                                type: 'line',
                                data: {
                                  labels: district,
                                  datasets: [
                                    {
                                      label: "Districts ",
                                      backgroundColor: [],
                                      data: count
                                    }
                                  ]
                                },
                                options: {
                                  legend: { display: false },
                                  title: {
                                    display: true,
                                    text: 'Number of drugshops in respective districts'
                                  }
                                }
                            });



                        </script>
<!--                  <div class="p-1 flex-fill" style="overflow: hidden">-->

<!--                    </div>-->
                    <!-- /.description-block -->
                  </div><!-- /.card-pane-right -->
                </div><!-- /.d-md-flex -->
              </div>
              <!-- /.card-body -->
            </div>



<!--                    <div class="chart">-->
<!--                        &lt;!&ndash; Sales Chart Canvas &ndash;&gt;-->
<!--                        <canvas id="salesChart" height="180" style="height: 180px;"></canvas>-->
<!--                    </div>-->
                    <!-- /.chart-responsive -->
                    </div>
                    <!-- /.col -->
                    <div class="col-md-4">
<!--                    <p class="text-center">-->



                    <!-- /.progress-group -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                </div>
                <!-- ./card-body -->
                <div class="card-footer">
                <div class="row">

<!--                    </div>-->
                    <!-- /.description-block -->
                    </div>

                    </div>
                </div>
                <!-- /.row -->
                </div>
                <!-- /.card-footer -->
            </div>
            <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div><!--/. container-fluid -->
{% endblock content %}