{% extends "layout.html" %}
{% block content %}
     <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <h3 class="card-title">NDA BAR GRAPH</h3>
                  <a href="javascript:void(0);">View Report</a>
                </div>
              </div>
              <div class="card-body">

                <p class="text-center">
                    <strong>Drug shops in various districts</strong>
                </p>

                     <canvas id="bar-chart" width="800" height="400"></canvas>


<!--                        <div id="chartContainer" style="height: 370px; width: 100%;"></div>-->
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
                    <script>

                        let data = {{nda_chart_data|tojson}}
                        let count = []
                        let district = []

                        for(let i = 0; i < data.length; i ++){
                            count.push(data[i]['count'])
                            district.push(data[i]['district'])
                        }
                        new Chart(document.getElementById("bar-chart"), {
                            type: 'bar',
                            data: {
                              labels: district,
                              datasets: [
                                {
                                  label: "Districts ",
                                  backgroundColor: ['rgb(0,99,132)','green','yellow','purple','orange', 'red','black',
                                  'cyan','rgb(43, 65, 84)','rgb(102, 13, 56)','rgb(74, 74, 54)','rgb(169, 173, 153)','rgb(70, 87, 3)','rgb(238, 240, 230)','rgb(31, 24, 25)'],
                                  data: count
                                }
                              ]
                            },
                            options: {
                              legend: { display: false },
                              title: {
                                display: true,
                                text: 'Number of drugshops in respective districts'
                              }
                            }
                        });


                          bar-chart.destroy();
                         </script>

                </div>


              </div>
            </div>
            <!-- /.card -->

            <div class="card">
              <div class="card-header border-0">
                <h3 class="card-title">NDA PIE CHART</h3>
                <div class="card-tools">
                  <a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-download"></i>
                  </a>
                  <a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-bars"></i>
                  </a>
                </div>
              </div>
              <div class="card-body p-0">


                     <canvas id="pie-chart" width="800" height="450"></canvas>


                        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
                        <script>

                            new Chart(document.getElementById("pie-chart"), {
                                type: 'pie',
                                data: {
                                  labels: district,
                                  datasets: [
                                    {
                                      label: "Districts ",
                                      backgroundColor: ['rgb(0,99,132)','green','yellow','purple','orange', 'red','black',
                                  'cyan','rgb(43, 65, 84)','rgb(102, 13, 56)','rgb(74, 74, 54)','rgb(169, 173, 153)','rgb(70, 87, 3)','rgb(238, 240, 230)','rgb(31, 24, 25)'],
                                      data: count
                                    }
                                  ]
                                },
                                options: {
                                  legend: { display: false },
                                  title: {
                                    display: true,
                                    text: 'Number of drugshops in respective districts'
                                  }
                                }
                            });



                        </script>



              </div>
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col-md-6 -->
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <h3 class="card-title">NDA POLAR AREA CHART</h3>
                  <a href="javascript:void(0);">View Report</a>
                </div>
              </div>
              <canvas id="line-chart" width="800" height="450"></canvas>


                        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
                        <script>



                            new Chart(document.getElementById("line-chart"), {
                                type: 'polarArea',
                                data: {
                                  labels: district,
                                  datasets: [
                                    {
                                      label: "Districts ",
                                      backgroundColor: ['rgb(0,99,132)','green','yellow','purple','orange', 'red','black',
                                  'cyan','rgb(43, 65, 84)','rgb(102, 13, 56)','rgb(74, 74, 54)','rgb(169, 173, 153)','rgb(70, 87, 3)','rgb(238, 240, 230)','rgb(31, 24, 25)'],
                                      data: count
                                    }
                                  ]
                                },
                                options: {
                                  legend: { display: false },
                                  title: {
                                    display: true,
                                    text: 'Number of drugshops in respective districts'
                                  }
                                }
                            });



                        </script>
            </div>


              <div class="card">
              <div class="card-header border-0">
                <h3 class="card-title">Online Store Overview</h3>
                <div class="card-tools">
                  <a href="#" class="btn btn-sm btn-tool">
                    <i class="fas fa-download"></i>
                  </a>
                  <a href="#" class="btn btn-sm btn-tool">
                    <i class="fas fa-bars"></i>
                  </a>
                </div>
              </div>
              <div class="card-body">
                  <canvas id="scatter-chart" width="800" height="450"></canvas>


                        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
                        <script>



                            new Chart(document.getElementById("scatter-chart"), {
                                type: 'line',
                                data: {
                                  labels: district,
                                  datasets: [
                                    {
                                      label: "Districts ",
                                      backgroundColor: ['rgb(0,99,132)','green','yellow','purple','orange', 'red','black',
                                  'cyan','rgb(43, 65, 84)','rgb(102, 13, 56)','rgb(74, 74, 54)','rgb(169, 173, 153)','rgb(70, 87, 3)','rgb(238, 240, 230)','rgb(31, 24, 25)'],
                                      data: count
                                    }
                                  ]
                                },
                                options: {
                                  legend: { display: false },
                                  title: {
                                    display: true,
                                    text: 'Number of drugshops in respective districts'
                                  }
                                }
                            });



                        </script>
<!--                <div class="d-flex justify-content-between align-items-center border-bottom mb-3">-->
<!--                  <p class="text-success text-xl">-->
<!--                    <i class="ion ion-ios-refresh-empty"></i>-->
<!--                  </p>-->
<!--                  <p class="d-flex flex-column text-right">-->
<!--                    <span class="font-weight-bold">-->
<!--                      <i class="ion ion-android-arrow-up text-success"></i> 12%-->
<!--                    </span>-->
<!--                    <span class="text-muted">CONVERSION RATE</span>-->
<!--                  </p>-->
<!--                </div>-->
<!--                &lt;!&ndash; /.d-flex &ndash;&gt;-->
<!--                <div class="d-flex justify-content-between align-items-center border-bottom mb-3">-->
<!--                  <p class="text-warning text-xl">-->
<!--                    <i class="ion ion-ios-cart-outline"></i>-->
<!--                  </p>-->
<!--                  <p class="d-flex flex-column text-right">-->
<!--                    <span class="font-weight-bold">-->
<!--                      <i class="ion ion-android-arrow-up text-warning"></i> 0.8%-->
<!--                    </span>-->
<!--                    <span class="text-muted">SALES RATE</span>-->
<!--                  </p>-->
<!--                </div>-->
<!--                &lt;!&ndash; /.d-flex &ndash;&gt;-->
<!--                <div class="d-flex justify-content-between align-items-center mb-0">-->
<!--                  <p class="text-danger text-xl">-->
<!--                    <i class="ion ion-ios-people-outline"></i>-->
<!--                  </p>-->
<!--                  <p class="d-flex flex-column text-right">-->
<!--                    <span class="font-weight-bold">-->
<!--                      <i class="ion ion-android-arrow-down text-danger"></i> 1%-->
<!--                    </span>-->
<!--                    <span class="text-muted">REGISTRATION RATE</span>-->
<!--                  </p>-->
<!--                </div>-->
                <!-- /.d-flex -->
              </div>
            </div>
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
            <!-- /.card -->

<!--            <div class="card">-->
<!--              <div class="card-header border-0">-->
<!--                <h3 class="card-title">Online Store Overview</h3>-->
<!--                <div class="card-tools">-->
<!--                  <a href="#" class="btn btn-sm btn-tool">-->
<!--                    <i class="fas fa-download"></i>-->
<!--                  </a>-->
<!--                  <a href="#" class="btn btn-sm btn-tool">-->
<!--                    <i class="fas fa-bars"></i>-->
<!--                  </a>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="card-body">-->
<!--                <div class="d-flex justify-content-between align-items-center border-bottom mb-3">-->
<!--                  <p class="text-success text-xl">-->
<!--                    <i class="ion ion-ios-refresh-empty"></i>-->
<!--                  </p>-->
<!--                  <p class="d-flex flex-column text-right">-->
<!--                    <span class="font-weight-bold">-->
<!--                      <i class="ion ion-android-arrow-up text-success"></i> 12%-->
<!--                    </span>-->
<!--                    <span class="text-muted">CONVERSION RATE</span>-->
<!--                  </p>-->
<!--                </div>-->
<!--                &lt;!&ndash; /.d-flex &ndash;&gt;-->
<!--                <div class="d-flex justify-content-between align-items-center border-bottom mb-3">-->
<!--                  <p class="text-warning text-xl">-->
<!--                    <i class="ion ion-ios-cart-outline"></i>-->
<!--                  </p>-->
<!--                  <p class="d-flex flex-column text-right">-->
<!--                    <span class="font-weight-bold">-->
<!--                      <i class="ion ion-android-arrow-up text-warning"></i> 0.8%-->
<!--                    </span>-->
<!--                    <span class="text-muted">SALES RATE</span>-->
<!--                  </p>-->
<!--                </div>-->
<!--                &lt;!&ndash; /.d-flex &ndash;&gt;-->
<!--                <div class="d-flex justify-content-between align-items-center mb-0">-->
<!--                  <p class="text-danger text-xl">-->
<!--                    <i class="ion ion-ios-people-outline"></i>-->
<!--                  </p>-->
<!--                  <p class="d-flex flex-column text-right">-->
<!--                    <span class="font-weight-bold">-->
<!--                      <i class="ion ion-android-arrow-down text-danger"></i> 1%-->
<!--                    </span>-->
<!--                    <span class="text-muted">REGISTRATION RATE</span>-->
<!--                  </p>-->
<!--                </div>-->
                <!-- /.d-flex -->
              </div>
            </div>
          </div>
          <!-- /.col-md-6 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock content %}